/* GLOBAL STYLES */

* {
    font-family: 'Roboto', sans-serif;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h1{
    max-width: fit-content;
}

a{
    text-decoration: none;
}

a:hover{
    color: unset;
}

/* HEADER BACKGROUND ANIMATION */

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

header {
    background-image: linear-gradient(to bottom right, #062f4f 0%,  #0b5085 100%);
    height: 750px;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
}

header::after{
    animation-duration: 10s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100vh;
    height: 100vh;
    background-image: url("../images/header.png");
    background-size: cover;
    background-position: center center;
}
header h1{
    font-size: clamp(1rem, 10vw, 4rem); 
}

header a{
    color: #FFFFFF;
    font-size: large;
    width: fit-content;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.a-hover{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #FFFFFF;
    z-index: -1;
    border-radius: 0.25rem;
    transition: all 0.3s ease-in-out;
    transform: scale(0,1);
}

header a:hover{
    color: #062f4f;
}

header a:hover .a-hover{
    transform: scale(1,1);
}


button {
    background-color: transparent;
    max-width: 45px;
    border: none;
}

button svg{
    filter: invert(1);
}

.menu-open svg{
    filter: invert(0);
}

.hero-image{
    height: 50%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.hero-image.home{
    background-image: url("../images/Education.png");
}
.hero-image.product{
    background-image: url("../images/Automatic_updates.png");
}

@media(min-width: 768px){
    header::after{
        width: 100vw;
        height: 100vw;
        background-size: contain;
    }
    .hero-image{
        width: 70%;
        height: 100%;
    }
}
.mobile-nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    background-image: url("../images/header.png");
    background-position: left center;
    font-size: x-large;
}
.mobile-nav a{
    color: #000;
}

.mobile-nav button{
    width: fit-content;
    border: none;
}

.hide{
    transform: scale(0,1);
    transition: all 0.3s ease-in-out;
}

.open-nav{
    transform: scale(1,1);
}

.border-light{
    border: solid 3px #FFFFFF;
}
.active{
    background-color:  #FFFFFF;
    color: #062f4f;
}






.navbar > a:hover .solution-dropdown{
    transform: scale(1,1);
}
.solution-dropdown{
    top:50px;
    left: -100%;
    background-color: #FFFFFF;
    z-index: 2;
    transition: all 0.6s ease-in-out;
    transform: scale(0,1);
}
.solution-dropdown a{
    color: #000;
    border-bottom: solid 2px transparent;
}
.solution-dropdown a:hover{
    border-bottom: solid 2px #000;
}
.dropdown-image{
    background-image: url("../images/Automatic_updates.png");
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.customers::after{
    content: "";
    height: 5px;
    width: 80%;
    background-image: linear-gradient(120deg,#c2e9fb 0%, #a1c4fd 100%);
    position: absolute;
    bottom: -20px;
    left: 10%;
}
.customers img{
    max-width: 50%;
}
.image-container{
    background-image: url("../images/header.png");
    background-position: left center;
}
.feature-image{
    max-width: 80%;
}
@media(min-width: 768px){
    .feature-container:nth-child(2n){
        flex-direction: row-reverse !important;
    }
}


